<page>
    <body>
    <h1 id="DataBinding">Data binding</h1>
    <p>

    </p>
    <h2 id="PropertyExtractor">Property Extractor</h2>
    <!--(Is it always used with templates?)-->
    <p>
        In TeamApps, templates are used to display data properties in a defined way (see Templates section). This would
        work without data binding if we named the attributes of the Objects we want to display according to the
        properties of the template. However, this is usually an inappropriate naming strategy. PropertyExtractors are
        used here to map template's property names to object specific information. This mapping must be implemented in
        this interface's {getValue} method. In the below example, the PropertyExtractor is used to map attributes of
        the Animal class to the properties of a BaseTemplate which ar displayed in a ComboBox. The PropertyExtractor is
        subinterface of the PropertyProvider which can be applied in the same use cases. This interface has a similar
        mapping function called {getValues} which returns a mapping of all propertyNames at once.
    </p>
    <example th:with="class='org.teamapps.documentation.example.databinding.PropertyExtractorExample'"></example>
    <h2 id="PropertyInjector">Property Injector</h2>
    <p>
        TODO
    </p>
    <!--<example th:with="class='org.teamapps.documentation.example.databinding.PropertyInjectorExample'"></example>-->
    <h2 id="BeanPropertyExtractor">Bean Property Extractor</h2>
    <p>
        The BeanPropertyExtractor implements the PropertyExtractor and is usually used as the default in components
        that need a PropertyProvider. It's {getValue} method is based on the ValueExtractor interface whose instances
        are record class and propertyName specific. The {extract} method to be implemented here returns a value for a
        record. Via the {addProperty} method of the BeanPropertyExtractor, we can add s custom ValueExtractor for a
        specific propertyName. In the below example, we pass ValueExtractors for the caption, image and badge properties.

        If there is no custom ValueExtractor for a given propertyName in a BeanPropertyExtractor instance, a
        ValueExtractor is created for the class of the record and the propertyName if a getter named according to the
        propertyName can be found within the class (and if fallbackToFields attribute is True, it also tries to match the
        field names of the class). Thus, in the example, description and icon of the animal class are displayed
        automatically, since the attribute names match the propertyNames.

    </p>
    <example th:with="class='org.teamapps.documentation.example.databinding.BeanPropertyExtractorExample'"></example>
    <h2 id="BeanPropertyInjector">Bean Property Injector</h2>
    <p>
        TODO
    </p>
    <!--<example th:with="class='org.teamapps.documentation.example.databinding.BeanPropertyInjectorExample'"></example>-->
    </body>
</page>