<page>
    <body>
    <h3>Events</h3>
    <p>
        Events objects contain an array of listeners of type Consumer. When an Event gets fired, it passes the event
        data to every listener to perform the Consumer's operation. In the below example, we add a listener to the
        onMessageTweeted event. The listener induces the showing of the event data, the Twitter message, as a
        notification. The event gets fired at a fixed rate from the TwitterFeed constructor.
    </p>
    <example th:with="class='org.teamapps.documentation.example.events.EventExample'"></example>

    <p>
        There are several addListener methods. If a listener is added while the thread is bound to a
        SessionContext A (so while CurrentSessionContext.getOrNull() is not null) the listener is bound to this
        SessionContext A by default, i.e.:
    <ul>
        <li>When this event fires, the SessionContext-bound listener will get invoked while bound to the SessionContext
            A, regardless of the SessionContext (or the lack of it) the event was fired in. To avoids having to use the
            runWithContext method (see SessionHandling) within the implementation of every listener, a wrapper class
            is used that runs the listener's operation within this method.</li>
        <li>coming up</li>
    </ul>
    coming up
    </p>


    <p>Events coming from the client are generally handled in a thread bound to the TeamApps session.</p>

    <p>TODO: move below example elsewhere</p>
    <example th:with="class='org.teamapps.documentation.example.MyExample2', height=300"></example>

    </body>
</page>