<page>
    <body>
    <h3 id="Fields">Fields</h3>

    <h4 id="ComboBoxFields">ComboBox Fields</h4>
    <h5 id="ComboBox">ComboBox</h5>
    <p>
        A combo box can be instantiated using one of its static factory methods which can either get the record data
        from an Enum class or a List. If not otherwise configured, a string representation of the objects is displayed in
        the drop down list.
        Internally, these factory methods implement a ComboBoxModel which has only one method, the getRecords method.
        It matches a query string to the string representation of the records returned by recordToStringFunction
        which can be set as a ComboBox attribute. So in the below example, the user can in particular search for an
        animal of a certain height. The string representation is also distinct for small animals. If the
        recordToStringFunction is not set, the toString method of the record class is the default.
        In sections <a href="#TemplatesAndDataExtraction#ComboBoxWithTemplate">ComboBoxWithTemplate</a> and
        <a href="#TemplatesAndDataExtraction#GeneralConcept">TemplatesAndDataExtraction#GeneralConcept</a> you can learn
        how to use templates to represent data of the records in a more custom way.
    </p>
    <example th:with="class='org.teamapps.documentation.example.fields.comboboxfields.ComboBoxExample'"></example>
    <h5 id="TreeComboBox">Tree ComboBox</h5>
    <p>
        You can also display hierarchical data in a ComboBox as the ComboBoxModel inherits i.a. the getTreeNodeInfo
        method from the BaseTreeModel which must be overridden if the record is not already of type TreeNode. For a
        record, this method returns the TreeNodeInfo containing in particular information about the identity of its
        parent. Other settings are optional. By default, children of a parent node are not shown, but the sublist
        can be expanded pressing the arrow right key when the parent record is highlighted. In case the children are
        lazy, they are not sent to the client.
    </p>
    <example th:with="class='org.teamapps.documentation.example.fields.comboboxfields.TreeComboBoxExample'"></example>
    <h5 id="TagComboBox">Tag ComboBox</h5>
    <h5 id="TreeTagComboBox">Tree Tag ComboBox</h5>

    </body>
</page>