<page>
    <body>
        <h3 id="SessionHandling">Session Handling</h3>
        <p style="color:grey;">
            Draft <br>
            TODO once text content is good: mark important words, set spacing by using paragraphs, ...
        </p>

        <h4 id="SessionConcept">Session Concept</h4>

        <h4 id="SessionContext">Session Context</h4>

        <p>
            In TeamApps, a session is not related to an HTTP session. A TeamApps session starts when opening the website.
        </p>
        <p>
            The end of a TeamApps session can be induced in several ways:
        <ol>
            <li>when the website is closed or reloaded or the internet connection is interrupted</li>
            <li>when the session is destroyed on purpose from the server side</li>
            <li>when commands sent from the server accumulate in the queue causing a CommandBufferOverflow. </li>
            This can occur if the server sends the commands much faster than the client processes them or if the
            connection to the client is interrupted while the server keeps queuing commands.
            <li>when an uncaught exception occurs</li>
        </ol>
            When a session starts, the onSessionStart method of the WebController interface is called (side note: every
            example in this documentation is a WebController implementation). The SessionContext argument of the
            onSessionStart method represents a TeamApps session. <br>
            Besides a WebController, the embedded Server also gets a TeamAppsConfiguration argument. The
            TeamAppsConfiguration includes settings that influence when a TeamApps session is ended:
        <ul>
            <li>
                uiSessionTimeoutMillis:<br>
                The Timeout after which the server considers a TeamApps session as obsolete and thus the session is closed.
                This happens when the client stops sending keepalive messages or events. This may be caused by closing the website or by an
                interruption in the internet connection.
                TODO: write the rest of corresponding java doc what does not belong to general things that happen
                when a session is closed.
            </li>
                keepaliveMessageIntervalMillis:<br>
                The interval at which the client sends keepalive messages. This interval should be less than half of the
                uiSessionTimeoutMillis.
            <li>
                commandBufferLength:<br>
                The maximal <b>number of UI commands</b> for a client that are buffered on the server side before the
                session is closed.
            </li>
            <li>
                commandBufferTotalSize:<br>
                The total <b>number of characters</b> that all commands in the command buffer of a session may hold maximally
                before the session is closed.
            </li>
        </ul>
        TODO: What happens when a session in closed

        </p>
        <p>
            The SessionContext also allows sending commands and updates to the client.
            Client and Server communicate via websocket, so that both can send messages to the other any time. <br>
            Only one thread can interact with a UI session at a time. This is important for mainly two reasons:
            <ul>
                <li>to guarantee a certain order of events on the client and server side (most importantly: both process changes
                    in the <b>same</b> order)</li>
                <li>because none of the UI components is thread-safe</li>
            </ul>
            Therefore, all interactions with the session context and any UI components from outside must be done using the
            runWithContext method.
        </p>
        <p>
            In the below example, we send notifications to the client when the button is clicked. The showNotification
            method of the sessionContext is used for this.
        </p>
        <example th:with="class='org.teamapps.documentation.example.sessioncontext.SessionContextExample1'"></example>
        <p>
            Internally, the showNotification method calls the runWithContext method with
            a Runnable instance argument. This Runnable passes the according UI command (ShowNotificationCommand) to
            the queueCommand method. More on what this method does later. <br>
            The runWithContext method first checks, if the current thread is bound to the sessionContext instance
            whose runWithContext method was called.
        </p>
        <p>
            The identity of the sessionContext that a thread is bound to can be determined in 2 ways:
            <ul>
                <li>calling the current() method or currentOrNull() method of the sessionContext instance. The latter method
                    returns null instead of an exception if it is not executed within any UI session thread.</li>
                <li>directly calling CurrentSessionContext.get() or CurrentSessionContext.getOrNull()</li>
            </ul>

            If the current thread is already bound to the sessionContext, the runnable is directly executed. If not,
            then the sessionContext instance is set using the CurrentSessionContext class. What does that mean?
            In the CurrentSessionContext class, a new ThreadLocal instance is created with every call. The TreadLocal instance
            can store data (in this case the sessionContext instance) that is only accessible by (the) one thread (that
            was just created).
        </p>
        <p style="color:grey;"> evtl. TODO: CompletableFuture, sessionExecutor, THreadPool, ExecutionDecorator </p>
        <p>
            The queueCommand method first checks if the current thread is bound to the sessionContext
            instance where the queueCommand method is called. If this is not the case, the errorMessage will tell you
            that you need to use the runWithContext method to communicate with that client. <br>
            If the thread is correctly bound, the runnable is executed using the UxJacksonSerializationTemplate class.
            For this execution, once again a Thread with its onw ThreadLocal instance in created which stores the
            sessionContext for this thread.
        </p>
        <p style="color:grey;"> evtl. TODO: commandExecutor, ResultCallback </p>
        <p>
            In the below example is shown how the color change command coming from a different thread is executed
            within the runWithContext method. If this was not done, we would get the mentioned error message.
        </p>
        <example th:with="class='org.teamapps.documentation.example.sessioncontext.SessionContextExample2'"></example>
        <p>
            The SessionContext provides access to several aspects of the UI session.
        </p>
        <p style="color:grey;">(TODO: examples)</p>
    </body>
</page>