<!DOCTYPE html>
<html lang="en" th:fragment="mainTemplate(title, content)">
<head>
    <meta charset=UTF-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=10,user-scalable=yes,shrink-to-fit=no">
    <title th:text="${title}">TeamApps Documentation</title>
    <script>(function () {
        function allUrlParameters() {
            query = location.search.substr(1);
            let result = {};
            query.split("&").forEach(function (part) {
                let [key, value] = part.split("=");
                if (value != null) {
                    result[key] = decodeURIComponent(value);
                }
            });
            return result;
        }

        window.$ = undefined;
        window.addEventListener('load', function () {
            let urlParameters = allUrlParameters();
            var appServerUrl = urlParameters["appServerUrl"] || "";
            var webSocketUrl;
            if (appServerUrl) {
                webSocketUrl = appServerUrl.replace("https://", "wss://").replace("http://", "ws://") + "/communication";
            } else {
                var port = window.location.port || (window.location.protocol === "https:" ? "443" : "80");
                webSocketUrl = (window.location.protocol === "https:" ? "wss:" : "ws:") + "//" + window.location.hostname + ':' + port + "/communication";
            }

            var contextClass = teamapps[urlParameters["teamAppsContext"]] || teamapps.DefaultTeamAppsUiContext;

            const exampleClasses = [];
            document.querySelectorAll("[data-example-class-name]").forEach(el => {
                exampleClasses.push(el.getAttribute("data-example-class-name"));
            });
            urlParameters.exampleClasses = JSON.stringify(exampleClasses);

            console.log(urlParameters);
            window.teamAppsContext = new contextClass(webSocketUrl, urlParameters);
        });
    })();</script>
    <link href=/css/3.teamapps.f9c974003eb8f9630cc7.css rel=stylesheet>
    <link href=/css/teamapps.f9c974003eb8f9630cc7.css rel=stylesheet>

    <link href="/res/style.css" rel="stylesheet"/>
    <link href="/res/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid border">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-light">
            <a href="#"><img src="/res/logo.png"></a>
            <a class="navbar-brand mx-auto " href="#">TeamApps Documentation</a>
        </nav>
    </div>
    <div class="row">
        <div class="col-2">
            <nav class="nav flex-column">
                <a class="nav-link active" aria-current="page" href="#">Tutorials</a>
                <a class="nav-link" href="#">Concepts</a>
                <nav class="sub-nav">
                    <a class="nav-link" href="DataBinding">Data binding</a>
                    <nav class="sub-nav">
                        <a class="nav-link" href="DataBinding#PropertyExtractor">Property Extractor</a>
                        <a class="nav-link" href="DataBinding#PropertyInjector">Property Injector</a>
                        <a class="nav-link" href="DataBinding#BeanPropertyExtractor">Bean Property Extractor</a>
                        <a class="nav-link" href="DataBinding#BeanPropertyInjector">Bean Property Injector</a>
                    </nav>
                    <a class="nav-link" href="EventHandling">Event handling</a>
                    <nav class="sub-nav">
                        <a class="nav-link" href="#">Event Concept</a>
                        <a class="nav-link" href="#">Examples</a>
                    </nav>
                    <a class="nav-link" href="#">Icons</a>
                    <nav class="sub-nav">
                        <a class="nav-link" href="#">Material Icons</a>
                        <a class="nav-link" href="#">Font Awesome Icons</a>
                        <a class="nav-link" href="#">Custom Icons</a>
                    </nav>
                    <a class="nav-link" href="Templates">Templates</a>
                    <nav class="sub-nav">
                        <a class="nav-link" href="Templates#TemplatesConcept">Template Concept</a>
                        <a class="nav-link" href="Templates#GridTemplate">Grid Template</a>
                        <a class="nav-link" href="Templates#ComboBoxWithTemplate">ComboBox with Template</a>
                        <a class="nav-link" href="Templates#">Button with Template</a>
                        <a class="nav-link" href="Templates#">Item View with Template</a>
                        <a class="nav-link" href="Templates#">Toolbar with Template</a>
                    </nav>
                    <a class="nav-link" href="#">Application Development</a>
                    <a class="nav-link" href="#">Session handling</a>
                    <nav class="sub-nav">
                        <a class="nav-link" href="#">Session Concept</a>
                        <a class="nav-link" href="#">Session Context</a>
                    </nav>
                    <a class="nav-link" href="#">Integration Options</a>
                    <a class="nav-link" href="#">Templates</a>
                </nav>
                <a class="nav-link" href="#">Components</a>
            </nav>
        </div>
        <div class="col-10">
            <th:block th:replace="${content}" class="content">
                This page is empty...
            </th:block>
        </div>
    </div>
    <!--
    <div class = "row">
        <footer clas="navbar navbar-expand-lg bg-light ">
            <p class="navbar-text"> Impressum, Datenschutzerklaerung ...</p>
        </footer>
    </div>
    -->
</div>






<script type=text/javascript src=/js/0.944eadb004ec78610b6c.js></script>
<script type=text/javascript src=/js/3.42488b150a1783ec4daf.js></script>
<script type=text/javascript src=/js/teamapps.fd6a35ab60ed46fbb50f.js></script>
<script type=text/javascript src=/js/UiRichTextEditor.cedca53bfbc07a1f5196.js></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/vs.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script type=text/javascript src=/res/bootstrap/js/bootstrap.bundle.js></script>


</body>
</html>