<!DOCTYPE html>
<html lang="en" th:fragment="mainTemplate(title, content)">
<head>
    <meta charset=UTF-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=10,user-scalable=yes,shrink-to-fit=no">
    <title th:text="${title}">TeamApps Documentation</title>
    <script>(function () {
        function allUrlParameters() {
            query = location.search.substr(1);
            let result = {};
            query.split("&").forEach(function (part) {
                let [key, value] = part.split("=");
                if (value != null) {
                    result[key] = decodeURIComponent(value);
                }
            });
            return result;
        }

        window.$ = undefined;
        window.addEventListener('load', function () {
            let urlParameters = allUrlParameters();
            var appServerUrl = urlParameters["appServerUrl"] || "";
            var webSocketUrl;
            if (appServerUrl) {
                webSocketUrl = appServerUrl.replace("https://", "wss://").replace("http://", "ws://") + "/communication";
            } else {
                var port = window.location.port || (window.location.protocol === "https:" ? "443" : "80");
                webSocketUrl = (window.location.protocol === "https:" ? "wss:" : "ws:") + "//" + window.location.hostname + ':' + port + "/communication";
            }

            var contextClass = teamapps[urlParameters["teamAppsContext"]] || teamapps.DefaultTeamAppsUiContext;

            const exampleClasses = [];
            document.querySelectorAll("[data-example-class-name]").forEach(el => {
                exampleClasses.push(el.getAttribute("data-example-class-name"));
            });
            urlParameters.exampleClasses = JSON.stringify(exampleClasses);

            console.log(urlParameters);
            window.teamAppsContext = new contextClass(webSocketUrl, urlParameters);
        });
    })();</script>
    <link href=/css/3.teamapps.f9c974003eb8f9630cc7.css rel=stylesheet>
    <link href=/css/teamapps.f9c974003eb8f9630cc7.css rel=stylesheet>

    <link href="/res/style.css" rel="stylesheet"/>
</head>
<body>

<header>
    <span class="header-span"> TeamApps Documentation </span>
</header>

<section>
    <nav class="main-nav">
        <ul>
            <li><a href="#">Events</a></li>
            <li><a href="#">ComboBox</a></li>
            <li><a href="#">SessionContext</a></li>
        </ul>
    </nav>

    <th:block th:replace="${content}" class="content">
        This page is empty...
    </th:block>
</section>



<script type=text/javascript src=/js/0.944eadb004ec78610b6c.js></script>
<script type=text/javascript src=/js/3.42488b150a1783ec4daf.js></script>
<script type=text/javascript src=/js/teamapps.fd6a35ab60ed46fbb50f.js></script>
<script type=text/javascript src=/js/UiRichTextEditor.cedca53bfbc07a1f5196.js></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/vs.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<footer>
    <p> Impressum, Datenschutzerklaerung ...</p>
</footer>
</body>
</html>