body {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
pre {
    background: white;
    border: none;
}

pre > code {
    padding: 0 !important;
}

.example {
    margin: var(--ta-line-height-computed) 0;
    border-radius: var(--ta-border-radius);
    border: 1px solid var(--ta-panel-border-color);
}

.example-code-heading,
.example-result-heading {
    font-size: 110%;
    font-weight: 700;
    padding: 5px var(--ta-half-line-height-computed);
}

.example-result-heading {
    border-top: 1px solid var(--ta-panel-border-color);
}

.example-code-container {
    border: none;
    margin: 0px;
}

.example-result-container {
    min-height: 20px;
    padding: var(--ta-half-line-height-computed);
    position: relative;
}

.content {
  padding: 10px;
}

.sub-nav {
    padding-left: 15;
}

/* tad = TeamApps Documentation*/
.header-tad {
    font-size:20pt !important;
    font-weight: 500 !important;
}

.navbar-top-tad {
    margin-bottom: 30px !important;
}

p {
    text-align: justify;
}

.sidebar-tad {
    padding-left: 0 !important;
}

nav > a {
    color: black !important;
}

.nav-heading {
    font-weight: bold !important;
    font-size: 110% !important;
}
.divider {
    width: 40px;
    height: 4px;
    background: #0098f1;
    border-radius: 30px;
    margin-left: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
}